<!doctype html>
<html>
	<head>
		<link href="./css/home.css" rel="stylesheet">
		<link href="" >
		<meta charset="UTF-8">
		<title> SU CAFE </title>
	</head>

	<style type="text/css">
		body {
				height: 2200px;
			}

			body h2 {
				margin-top: 70px;
				margin-bottom: 30px;
				font-family: fantasy;
				font-weight: bold;
			}

			#myTable {
				padding: 10px;
				margin-right: auto;
				margin-left: auto;
			}

			#myTable th {
				color: orange;
			}

			.container_menus {
				margin-left: auto;
				margin-right: auto;
				margin-top: 180px;
				margin-bottom: 50px;
				width: 300px;

			}

			.container_menus a {
				text-decoration: none;
				font-family: fantasy;
				color: #285;
			}

			.container_menus a:hover{
				color: orange;
			}

			.container_menus a:active{
				color: blue;
			}

			#Entree {
				height: 500px;
				box-shadow: 0px 0px 5px 1px gray;
				border: 1px solid #CCC;
			}

			#pics img {
				border: 1px solid black;
			}

			#dis a {
				font-family: fantasy;
				margin-right: 40px;
				margin-left: 40px;
			}

			#btn button {
				border: 1px solid black;
				background-color: orange;
				font-family: sans-serif;
				font-size: 12px;
				color: white;
				width: 200px;
				height: 20px;
			}

			#btn button:hover {
				background-color: #285;
			}

			#btn button:active {
				background-color: gray;
			}

			#Drinks {
				height: 500px;
				box-shadow: 0px 0px 5px 1px gray;
				border: 1px solid #CCC;
			}

			#Combo {
				height: 500px;
				box-shadow: 0px 0px 5px 1px gray;
				border: 1px solid #CCC;
			}

			#Dessert {
				height: 500px;
				box-shadow: 0px 0px 5px 1px gray;
				border: 1px solid #CCC;
			}

			.cart {
				padding: 10px;
				width: 250px;
				position: fixed;
				right: 0px;
				top: 30%;
				border:1px solid #CCC;
				background-color: white;

			}


	</style>

	<body>
		<div id="navbar">
			<h1>   &nbsp &nbsp SU Cafe </h1>
			<a href="">Cart</a>
			<a href="./aboutme.html">About us</a>
  			<a href="./contact.html">Hours</a>
  			<a href="./menus.html">Menus</a>
  			<a href="./home.html">Home</a>
		</div>

		<div class="container_menus">
			<a href="#Entree"> Entree </a>
			<a> | </a>
			<a href="#Drinks"> Drinks </a>
			<a> | </a>
			<a href="#Dessert"> Dessert </a>
			<a> | </a>
			<a href="#Combo"> Combo </a>
		</div>
